{% extends 'base.html.twig' %}

{% block body %}

{% set tot = 0 %}


<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            {% if panier.produits is empty %}
            <h1>Try to insert some Products by <a class="text-primary" href="/produit">clicking here</a></h1>
            {% endif %}

            {% for a in panier.produits %}
            {% set tot = tot + a.prix %}
            <div class="card mt-5">
                <div class="row text-center">
                    <div class="col-3">
                        <img class="" style="border-radius: 30px;" src="{{asset('/uploads/produits/'~a.Image)}}"
                            alt="product-item" width="150px" height="150px">
                    </div>
                    <div class="col-4">
                        <h5 class=" text-start justify-content-center">
                            <ul>
                                <li>{{a.categorys.libelle}}</li>
                            </ul>
                        </h5>
                        <h5 class=" text-start justify-content-center">
                            <ul>
                                <li>{{a.description}}</li>
                            </ul>
                        </h5>
                        <h1 class=" text-start justify-content-center">
                            <ul>
                                <li>{{a.prix}} TND</li>
                            </ul>
                        </h1>

                    </div>
                    <div class="col-5 mt-5">

                        <a href="/panier/remove/produit/{{a.id}}" class="bnt btn-danger p-2 mt-5"> <svg
                                xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg></a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>
    <br><br>
    <h2>Totale : {{tot}} TND</h2>
    <a href="/supprimer/le/panier/{{panier.id}}" class="btn btn-danger mt-5"> Vider le panier </a>
    <a href="/sent/{{panier.id}}" class="btn btn-success mt-5"> Confirmé commande</a>

</div>


{% endblock%}