{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

<div class="container  ">
    <h1>Register
    </h1>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {% if app.user %}
            <h2>your are connected as {{app.user.email}} <a style="color: red;" href="/logout"> click here to logout</a>
            </h2>
            {% endif %}





            {{ form_start(registrationForm) }}

            <div class="form-group row mt-2">
                <div class="col-sm-2">
                    {{ form_label(registrationForm.name) }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.name) }}
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-sm-2">
                    {{ form_label(registrationForm.prename) }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.prename) }}
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-sm-2">
                    {{ form_label(registrationForm.birthday) }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.birthday) }}
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-sm-2">
                    {{ form_label(registrationForm.adress) }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.adress) }}
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-sm-2">
                    {{ form_label(registrationForm.phone) }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.phone) }}
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-sm-2">
                    {{ form_label(registrationForm.email) }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.email) }}
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-sm-2">
                    {{ form_label(registrationForm.plainPassword) }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(registrationForm.plainPassword, { label: 'Password' }) }}
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-sm-10 offset-sm-2">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>

            {{ form_end(registrationForm) }}

            <a href="/login">Or click here to login </a>
        </div>
        <br><br><br>
    </div>
    <div class="col-3"></div>

</div>


{% endblock %}