{% extends 'base.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}
<main id="main" class="main">
    <h1>Livraison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateLiv</th>
                <th>AdresseLiv</th>
                <th>Description</th>
                <th>Etat</th>
                <th>commande</th>
                <th>Nom</th>
                <th>matricule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.dateLiv ? livraison.dateLiv|date('Y-m-d') : '' }}</td>
                <td>{{ livraison.adresseLiv }}</td>
                <td>{{ livraison.description }}</td>
                <td>{{ livraison.etat }}</td>
                <td>{{ livraison.reference }}</td>
                <td>{{ livraison.Nom }}</td>
                <td>{{ livraison.matricule }}</td>
                <td>
                    <a href="{{ path('aff_livraison_edit', {'id': livraison.id}) }}">affecter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
