{% extends 'base-back.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}
<main id="main" class="main">
    <h1>Création des Livraisons</h1>

    <!-- Search Form -->
    <form class="search-form" method="GET" action="{{ path('app_livraison_index') }}">
        <input type="text" name="query" placeholder="Rechercher..." value="{{ app.request.query.get('query') }}">
         <button type="submit"class="search-button"><i class="fas fa-search"></i></button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th><a href="{{ path('app_livraison_index', {'sort_by': 'id', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}">Id</a></th>
                <th><a href="{{ path('app_livraison_index', {'sort_by': 'dateLiv', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}">DateLiv</a></th>
                <th><a href="{{ path('app_livraison_index', {'sort_by': 'adresseLiv', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}">AdresseLiv</a></th>
                <th><a href="{{ path('app_livraison_index', {'sort_by': 'description', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}">Description</a></th>
                <th><a href="{{ path('app_livraison_index', {'sort_by': 'etat', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}">Etat</a></th>
                <th><a href="{{ path('app_livraison_index', {'sort_by': 'reference', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}">Commande</a></th>
                <th><a href="{{ path('app_livraison_index', {'sort_by': 'matricule', 'order': order == 'ASC' ? 'DESC' : 'ASC' }) }}">Matricule</a></th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.dateLiv ? livraison.dateLiv|date('Y-m-d') : '' }}</td>
                <td>{{ livraison.adresseLiv }}</td>
                <td>{{ livraison.description }}</td>
                <td>{{ livraison.etat }}</td>
                <td>{{ livraison.reference }}</td>
                <td>{{ livraison.matricule }}</td>
                <td>
                    <a href="{{ path('app_livraison_show', {'id': livraison.id}) }}"><button class="cssbuttons-io-button">
                                Démontrer
                                <div class="icon">
                                    <svg
                                    height="24" width="24"viewBox="0 0 24 24"xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                        fill="currentColor"
                                    ></path>
                                    </svg>
                                </div>
                                </button>
                    </a>
                    <a href="{{ path('app_livraison_edit', {'id': livraison.id}) }}"><button class="edit-button">
                        <svg class="edit-svgIcon" viewBox="0 0 512 512">
                         <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                         </svg>
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_livraison_new') }}"><button class="Btn">
  
                <div class="sign">+</div>
                <div class="text">Créer</div></button>
    </a>
</main>
{% endblock %}
