{% extends 'base-back.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}
    <h1>Livraison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>type</th>
                <th>artlib</th>
                <th>nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.type }}</td>
                <td>{{ livraison.artlib }}</td>
                <td>{{ livraison.nom }}</td>
                <td>
                    <a href="{{ path('app_livraison_show', {'id': livraison.id}) }}">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_livraison_new') }}">Create new</a>
{% endblock %}
