{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}


{% block body %}




<section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Nos produits</h2>

                <div class="btn-right">
                </div>
            </div>
            <div class="swiper product-swiper">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-5"><input name="search" class="form-control" placeholder="Enter name of product"
                                type="search"></div>
                        <div class="col-2"><button class="btn btn-black" type="submit">Search
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </button></div>
                        <div class="col-1"></div>
                        <div class="col-2">
                            Trier par <b> Prix </b> :
                            <a href="{{ path('app', { 'search': app.request.query.get('search'), 'sort': 'desc' }) }}">

                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-sort-down" viewBox="0 0 16 16">
                                    <path
                                        d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z" />
                                </svg>
                            </a>
                            <a href="{{ path('app', { 'search': app.request.query.get('search'), 'sort': 'asc' }) }}">

                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                                    <path
                                        d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5" />
                                </svg>
                            </a>

                        </div>

                    </div>
                </form>

                <br><br>
                <div class="swiper-wrapper">
                    <!--searchhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh-->



                    <!-- end searchhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh-->




                    {% for a in pagination %}
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <a href="/produit/details/{{a.id}}">
                                    <img style="border-radius: 30px;" src="{{asset('/uploads/produits/'~a.Image)}}"
                                        width="100%" height="150px" alt="product-item" class="">
                                </a>
                            </div>

                            <div class="cart-concern position-absolute">
                                <div class="cart-button d-flex">
                                    {% if a.panier is empty %}
                                    <a href="/panier/{{a.id}}" class="btn btn-medium btn-black add-to-cart"
                                        data-product-id="{{a.id}}">Add to Cart<svg class="cart-outline">
                                            <use xlink:href="#cart-outline"></use>
                                        </svg></a>
                                    {% else %}

                                    <a class="btn btn-success  add-to-cart" data-product-id="{{a.id}}">Already In<svg
                                            style="color: green;" class="cart-outline">
                                            <use xlink:href="#cart-outline"></use>
                                        </svg></a>
                                    {% endif %}




                                </div>
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase">
                                    <a href="#">
                                        {{a.Nom }}
                                    </a>
                                </h3>
                                <span class="item-price text-primary">{{a.Prix }} TND</span>

                                {% if a.saved %}
                                <a href="/produit/unsave/{{a.id}}"> <svg xmlns="http://www.w3.org/2000/svg" width="25"
                                        height="25" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2" />
                                    </svg></a>
                                {% else %}
                                <a href="/produit/save/{{a.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="25"
                                        height="25" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path
                                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                                    </svg></a>
                                {% endif %}


                            </div>
                            <div class="card-footer text-center">

                                <button class="btn btn-secondary show-more" data-product-id="{{a.id}}">Show
                                    More</button>
                                <div class="description" style="display: none;" data-product-id="{{a.id}}">
                                    {{a.description}}
                                    <br>
                                </div>
                                <button class="btn btn-secondary show-less" style="display: none;"
                                    data-product-id="{{a.id}}">Show Less</button>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>




<nav class="app-pagination mt-5">
    <ul class="pagination justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </ul>
</nav>


<script>

    document.addEventListener('DOMContentLoaded', function () {
        const showMoreBtns = document.querySelectorAll('.show-more');
        const showLessBtns = document.querySelectorAll('.show-less');
        const addToCartBtns = document.querySelectorAll('.add-to-cart');

        showMoreBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                const productId = btn.dataset.productId;
                const description = document.querySelector('.description[data-product-id="' + productId + '"]');
                description.style.display = 'block';
                btn.style.display = 'none';
                document.querySelector('.show-less[data-product-id="' + productId + '"]').style.display = 'inline-block';
            });
        });

        showLessBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                const productId = btn.dataset.productId;
                const description = document.querySelector('.description[data-product-id="' + productId + '"]');
                description.style.display = 'none';
                btn.style.display = 'none';
                document.querySelector('.show-more[data-product-id="' + productId + '"]').style.display = 'inline-block';
            });
        });

        addToCartBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                const productId = btn.dataset.productId;
                console.log('Product added to cart with ID:', productId);
                // You can add more functionality here, such as adding the product to the cart
            });
        });
    });

</script>
{% endblock %}