{# templates/produit/statistics.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Product Statistics{% endblock %}

{% block body %}
    <h1>Product Statistics</h1>

    <p>Total Products: {{ total_products }}</p>
    <p>Average Price: {{ average_price }}</p>

    {% if highest_priced_product %}
        <h2>Highest Priced Product</h2>
        <ul>
            <li>Name: {{ highest_priced_product.nom }}</li>
            <li>Price: {{ highest_priced_product.prix }}</li>
            {# Add more details as needed... #}
        </ul>
    {% endif %}

    {% if lowest_priced_product %}
        <h2>Lowest Priced Product</h2>
        <ul>
            <li>Name: {{ lowest_priced_product.nom }}</li>
            <li>Price: {{ lowest_priced_product.prix }}</li>
            {# Add more details as needed... #}
        </ul>
    {% endif %}
{% endblock %}
