{% extends 'base-back.html.twig' %}

{% block title %}Transport index{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="content-wrapper">
        <h1>Transport index</h1>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Etat</th>
                        <th>DelaiLivMoy</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for transport in transports %}
                    <tr>
                        <td>{{ transport.id }}</td>
                        <td>{{ transport.type }}</td>
                        <td>{{ transport.etat }}</td>
                        <td>{{ transport.DelaiLivMoy }}</td>
                        <td>
                            <a href="{{ path('app_transport_show', {'id': transport.id}) }}" class="btn btn-primary">Show</a>
                            <a href="{{ path('app_transport_edit', {'id': transport.id}) }}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_transport_new') }}" class="btn btn-primary">Create new</a>
    </div>
 </main>
{% endblock %}

