{% extends 'base-back.html.twig' %}

{% block title %}Transport index{% endblock %}

{% block body %}
<main id="main" class="main">
    <h1>Transport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Marque</th>
                <th>Matricule</th>
                <th>Anneefab</th>
                <th>Etat</th>
            </tr>
        </thead>
        <tbody>
        {% for transport in transports %}
            <tr>
                <td>{{ transport.id }}</td>
                <td>{{ transport.type }}</td>
                <td>{{ transport.marque }}</td>
                <td>{{ transport.matricule }}</td>
                <td>{{ transport.anneefab ? transport.anneefab|date('Y-m-d') : '' }}</td>
                <td>{{ transport.etat }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </main>
{% endblock %}
