{% extends 'base.html.twig' %}

{% block title %}E-FIT!{% endblock %}
{% block cart %}




								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>Mon panier</span>	
                                        <div class="qty">0</div>
									</a>

                                    <div class="cart-dropdown">

                                  

										<div class="cart-btns">
											<a href="{{ path('panier',) }}" >Voir Panier</a>
                                            <a href="#">Commander <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									
								</div>
                             
  
{% endblock %}

 {% block body %}


 <div class="bg-light p-3">
       <h3>Vos commandes : <span> {{ data|length}} Commande(s)</span></h3>
    </div>

    
        <table class="table">
            <thead>
                <tr>
                    <th>REFERENCE</th>
                    <th>LISTE PRODUIT</th>
                    <th>MONTANT</th>
                    <th>DATE</th>
                    <th></th>
                    <th>Status</th>
                    <th>SUPPRIMER</th>
                    
                     
                     
                        
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                    <tr>
                        <td>{{i.Reference}}</td>
                        <td>
                        {% for a in  i.getCommandeProduits().toArray() %}
                           <b>Nom</b> : {{ a.getProduit().nom}} | <b>Quantite </b> : {{ a.quantiteProduit }} | <b>Prix</b> : {{ a.getProduit().prix}} <br> 
                        {% endfor %}
                        </td>
                        <td> {{ i.montant }}DT</td>
                         <td class="invert"> {{ i.getDateCreation().format('j-m-y') }}</td>
                        <td> {% if i.status == "En attente" %}
  <td class="warning">{{ i.status }}</td>
 {% elseif i.status == "Confirmée" %}
    <td class="success">{{ i.status }}</td>
 {% elseif i.status == "Annulée" %}
    <td class="danger">{{ i.status }}</td>
 {% elseif i.status == "En cours de preparation" %}
    <td class="info">{{ i.status }}</td>
 {% elseif i.status == "Livraison en cours" %}
    <td class="info">{{ i.status }}</td>
 {% elseif i.status == "Livrée" %}
    <td class="success">{{ i.status }}</td>

 {% endif %}</td>
                        <td> 
                         <a href="{{ path('commandeDelete',{'id':i.id}) }}">
                                       <div class="btn btn-sm btn-danger"> Supprimer </div>
                       </a>
                        </td>
                   
                    </tr>
                {% endfor %}
            </tbody>
        
             
        </table>
      
       
      
   

{% endblock %}


        