{% extends 'base-back.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Artid</th>
                <th>Artlib</th>
                <th>Artdesc</th>
                <th>Artdispo</th>
                <th>Artimg</th>
                <th>Artprix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.artid }}</td>
                <td>{{ article.artlib }}</td>
                <td>{{ article.artdesc }}</td>
                <td>{{ article.artdispo }}</td>
                <td>{{ article.artimg }}</td>
                <td>{{ article.artprix }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a>
    </main>
{% endblock %}
