{% extends 'base-back.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
   <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Artid</th>
                <td>{{ article.artid }}</td>
            </tr>
            <tr>
                <th>Artlib</th>
                <td>{{ article.artlib }}</td>
            </tr>
            <tr>
                <th>Artdesc</th>
                <td>{{ article.artdesc }}</td>
            </tr>
            <tr>
                <th>Artdispo</th>
                <td>{{ article.artdispo }}</td>
            </tr>
            <tr>
                <th>Artimg</th>
                <td>{{ article.artimg }}</td>
            </tr>
            <tr>
                <th>Artprix</th>
                <td>{{ article.artprix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_index') }}">back to list</a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
    </main> 
{% endblock %}
