{% extends 'base-back.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<h1>Listes des utilisateurs</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Name</th>
				<th>Prename</th>
				<th>Birthday</th>
				<th>Adress</th>
				<th>Phone</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.prename }}</td>
					<td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
					<td>{{ user.adress }}</td>
					<td>{{ user.phone }}</td>
					<td>
						<a class="btn btn-primary" href="{{ path('app_user_show', {'id': user.id}) }}">
							<i class="bi bi-eye"></i>
						</a>
						<a class="btn btn-secondary" href="{{ path('app_user_edit', {'id': user.id}) }}">
							<i class="bi bi-pencil"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<nav class="app-pagination mt-5">
		<ul class="pagination justify-content-center">
			{{ knp_pagination_render(users) }}
		</ul>
	</nav>

	<a class="btn btn-primary" href="{{ path('app_user_new_livreur') }}">Ajouter un nouveau Livreur</a>

	<a class="btn btn-secondary" href="{{ path('app_user_new') }}">Ajouter un nouveau Admin</a>
	<br><br>
{% endblock %}
